@import "src/styleguide/index.scss";

.dashboard-application-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 880px;
  margin: 20px auto;

  .header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    width: 100%;
    color: var(--colour-element-gray-100);
  }

  .application-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    flex-wrap: wrap;

    .application {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      >div {
        &:first-child {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          border-radius: 25%;
          height: 110px;
          width: 110px;
          background-color: var(--colour-element-green-100);
          color: var(--colour-element-white-100);
          justify-content: center;

          span {
            font-size: 50px;
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 0.2rem var(--colour-element-green-500);
          }
        }

        &:nth-child(2) {
          display: flex;
          justify-content: center;
          margin-top: 8px;
        }
      }

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}