@import "src/styleguide/index.scss";

.top-nav-container {
  background-color: var(--colour-element-white-100);

  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colour-element-white-bg-300);
    padding: 15px 10px 10px;

    span {
      cursor: pointer;

      &:hover {
        color: var(--colour-element-gray-100);
      }
    }

    >div {
      display: flex;
      align-items: center;

      span {
        &:first-child {
          margin-left: 10px;
        }

        &:nth-child(2) {
          margin-left: 15px;
        }

        &:nth-child(3) {
          margin-left: 8px;
        }

        &.ellipse,
        &.account,
        &.menu {
          font-size: 28px;
          color: var(--colour-element-black-300);

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }

      i {
        font-size: 24px;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 95px;
    background-image: linear-gradient(95.14deg, var(--colour-element-green-100) 1.56%, var(--colour-element-green-300) 100%);

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 1024px;
      margin: 0 auto;
    }
  }
}

::ng-deep {
  .top-nav-overlay.p-overlaypanel {
    .p-overlaypanel-content {
      padding: 10px 20px;
      min-width: 110px;

      >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        >div {
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            display: flex;
            align-items: center;
            min-height: 30px;
            margin-right: 8px;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  hp-top-nav {
    .p-badge {
      font-size: 0.75rem;
      min-width: 1.2rem;
      height: 1.2rem;
      line-height: 1.2rem;
    }

    .avatar {
      margin-right: 35px;
      min-width: 130px;

      img {
        border-radius: 50%;
        position: absolute;
        margin-top: -15px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      color: var(--colour-element-white-100);

      h3 {
        margin: 0;
        font-size: 36px;
      }
    }
  }
}