:root {
  --colour-element-white-bg-100: #f1f1f1;
  --colour-element-white-bg-200: #f2f2f2;
  --colour-element-white-bg-300: #f3f3f3;
  --colour-element-white-100: #ffffff;
  --colour-element-black-100: #000000;
  --colour-element-black-200: #222222;
  --colour-element-black-300: #333333;
  --colour-element-gray-100: #808080;
  --colour-element-gray-200: #b8b8b8;
  --colour-element-gray-300: #d1d1d1;
  --colour-element-blue-100: #477bf0;
  --colour-element-blue-200: #5e93f0;
  --colour-element-blue-300: #64adf5;
  --colour-element-green-100: #18c218;
  --colour-element-green-200: #45c045;
  --colour-element-green-300: #64c964;
  --colour-element-green-400: #abeeab;
  --colour-element-green-500: #d5ffd5;
}